In [8]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# import API key
from config import g_key

In [9]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-08-10 16:00:21,42.6001,-73.9662,84.15,74,45,7.23
1,1,Rikitea,PF,2021-08-10 16:03:47,-23.1203,-134.9692,69.84,66,2,17.20
2,2,Yzeure,FR,2021-08-10 16:03:48,46.5644,3.3550,84.18,41,0,4.23
3,3,San Quintin,MX,2021-08-10 16:03:48,30.4833,-115.9500,73.20,73,2,7.25
4,4,Barrow,US,2021-08-10 16:03:49,71.2906,-156.7887,37.42,75,90,6.91

In [ ]:
# get the datatypes
city_data_df.dtypes

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

temps = []
for temp in max_temp:
    temps.append(max(temp,0))  #get the largest value between the temp and 0.
    
# Google heatmaps do not plot negative numbers. If you have a maximum temperature that is less than 0 Â°F, 
# then you will get an InvalidWeightException error for this line of code: heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [20]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[['Lat', 'Lng']]

# 2. Assign the weights variable to some values.
max_temp = city_data_df['Max Temp']

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# Assign the heatmap variable. change max_temp to temps
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False,max_intensity=300,point_radius=4)
# or heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[['Lat','Lng']]
humidity = city_data_df['Humidity']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent cloudiness
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Create a Wind Speed Heatmap
locations = city_data_df[['Lat','Lng']]
wind = city_data_df['Wind Speed']

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [40]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-08-10 16:00:21,42.6001,-73.9662,84.15,74,45,7.23
2,2,Yzeure,FR,2021-08-10 16:03:48,46.5644,3.3550,84.18,41,0,4.23
7,7,Itarema,BR,2021-08-10 16:03:49,-2.9248,-39.9167,86.85,56,21,18.72
8,8,Komsomolskiy,UZ,2021-08-10 16:03:50,40.4272,71.7189,80.02,18,0,3.62
18,18,Lethem,GY,2021-08-10 16:03:54,3.3803,-59.7968,86.23,65,38,3.40

In [43]:
preferred_cities_df.count()

City_ID       127
City          127
Country       127
Date          127
Lat           127
Lng           127
Max Temp      127
Humidity      127
Cloudiness    127
Wind Speed    127
dtype: int64

In [57]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df

              City Country  Max Temp      Lat       Lng Hotel Name
0           Albany      US     84.15  42.6001  -73.9662
2           Yzeure      FR     84.18  46.5644    3.3550
7          Itarema      BR     86.85  -2.9248  -39.9167
8     Komsomolskiy      UZ     80.02  40.4272   71.7189
18          Lethem      GY     86.23   3.3803  -59.7968
..             ...     ...       ...      ...       ...        ...
551        Inirida      CO     80.94   3.8653  -67.9239
552        Qesarya      IL     88.11  32.5189   34.9046
556  Benton Harbor      US     83.05  42.1167  -86.4542
558        Balabac      PH     82.17   7.9868  117.0645
561         Barmer      IN     88.95  25.7500   71.3833

[127 rows x 6 columns]

In [59]:
# Set parameters to search for a hotel.
params = {
    'radius': 5000,
    'type':'lodging',
    'key':g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and lngtitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [61]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Albany,US,84.15,42.6001,-73.9662,
2,Yzeure,FR,84.18,46.5644,3.3550,Mercure Moulins Centre - HÃ´tel de Paris
7,Itarema,BR,86.85,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
8,Komsomolskiy,UZ,80.02,40.4272,71.7189,Ikathouse
18,Lethem,GY,86.23,3.3803,-59.7968,Savannah Inn
22,Lufilufi,WS,81.12,-13.8745,-171.5986,Leuaina Beach Resort and Spa
27,Hithadhoo,MV,81.88,-0.6000,73.0833,Scoop Guest House
35,Butaritari,KI,82.62,3.0707,172.7902,Isles Sunset Lodge
37,Pericos,MX,84.11,25.0500,-107.7000,CASA AARON CAMACHO VILLARREAL
39,Katsuura,JP,84.31,35.1333,140.3000,Katsuura Hotel Mikazuki

In [68]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,max_intensity=300,point_radius=4)

# add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# markers for each city
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))